
  [svelte-1640638710].toast-container, [svelte-1640638710] .toast-container {
    position: fixed;
    z-index: 999;
  }
  [svelte-1640638710].top, [svelte-1640638710] .top {
    top: 15px;
  }
  [svelte-1640638710].bottom, [svelte-1640638710] .bottom {
    bottom: 15px;
  }
  [svelte-1640638710].left, [svelte-1640638710] .left {
    left: 15px;
  }
  [svelte-1640638710].right, [svelte-1640638710] .right {
    right: 15px;
  }
  [svelte-1640638710].center, [svelte-1640638710] .center {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
  [svelte-1640638710].toast, [svelte-1640638710] .toast {
    height: 38px;
    line-height: 38px;
    padding: 0 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    color: #FFF;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s, -webkit-transform 0.2s;
    -webkit-transform: translateY(35px);
    transform: translateY(35px);
    opacity: 0;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  [svelte-1640638710].info, [svelte-1640638710] .info {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #0091EA;
  }
  [svelte-1640638710].success, [svelte-1640638710] .success {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #4CAF50;
  }
  [svelte-1640638710].error, [svelte-1640638710] .error {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #F44336;
  }
  [svelte-1640638710].default, [svelte-1640638710] .default {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #353535;
  }
