
  [svelte-17148720].toast-container, [svelte-17148720] .toast-container {
    position: fixed;
    z-index: 999;
  }
  [svelte-17148720].top, [svelte-17148720] .top {
    top: 15px;
  }
  [svelte-17148720].bottom, [svelte-17148720] .bottom {
    bottom: 15px;
  }
  [svelte-17148720].left, [svelte-17148720] .left {
    left: 15px;
  }
  [svelte-17148720].right, [svelte-17148720] .right {
    right: 15px;
  }
  [svelte-17148720].center, [svelte-17148720] .center {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
  [svelte-17148720].toast, [svelte-17148720] .toast {
    height: 38px;
    line-height: 38px;
    padding: 0 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    color: #FFF;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s, -webkit-transform 0.2s;
    -webkit-transform: translateY(35px);
    transform: translateY(35px);
    opacity: 0;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  [svelte-17148720].info, [svelte-17148720] .info {
    background-color: #0091EA;
  }
  [svelte-17148720].success, [svelte-17148720] .success {
    background-color: #4CAF50;
  }
  [svelte-17148720].error, [svelte-17148720] .error {
    background-color: #F44336;
  }
  [svelte-17148720].default, [svelte-17148720] .default {
    background-color: #353535;
  }
  [svelte-17148720].anim, [svelte-17148720] .anim {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
